main, h1{ padding: 1em;
color :rgb(255, 102, 0)
}

html{
  background-color: rgba(209, 191, 191, 0.575);
}

img{
  height: 10rem;
  width: auto;
}

main p{
  background-color: rgb(245, 238, 238);
  color :rgb(255, 102, 0)

}

main li{
  border: thin solid rgb(0, 0, 0);
  padding: 1em;
  background-color: gainsboro;
  color: blue
  
}



footer{
  border: thin solid black;
  color :rgb(255, 102, 0)
}
